/*navigation*/

#nav {
    position: absolute;
    min-width: 128px;
    max-width: 220px;
    width: auto;
    top: 165px;
    left: 20px;
    padding: 5px;
    z-index: 1;
    /*默认的为0，可以用-1变成后面显示*/
    /*所以这个是累赘*/
    /*设置前后出现，这样可以出现照片上面有字的情况*/
}

table td.hasbackcolor {
    padding: 10px;
    border-radius: 8px;
    background: rgba(153, 255, 204, 0.19);
    text-align: left;
}

table td {
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

/*logo*/

#log {
    position: absolute;
    margin: 3px 200px 200px 200px;
    width: auto;
    max-width: 120px;
}

/*header*/

#header {
    position: relative;
    width: auto;
    text-align: center;
    min-width: 120px;
    margin: 0px 100px 20px 100px;
    padding: 0px;
    z-index: 1;
}

/*footer*/
#footer{
position:relative;
font-size:12px;
width:auto;
min-width:120px;
margin:200px 210px 20px 180px;
padding:10px;
z-index:3;
text-align:center;
}
/*#footer {
    position: relative;
    font-size: 12px;
    width: auto;
    min-width: 120px;
    margin-bottom: 0px;
    padding: 10px;
    z-index: 3;
    text-align: center;
    background-color: bisque;
    color: brown;
}*/

*body{

    background-image: url(bg4.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}

/*#footer {
    position: relative;
    background-color: bisque;
    color: brown;
    width: auto;
    text-align: center;
    min-width: 120px;
    margin:400px,0px,0px,0px;
    padding: 0px;
    z-index: 1;
}*/
